.my_btn{
    width: 193px;
    height: 41px;
    gap: 19px;
}
.my_btn:hover{
    background-color: var(--primary-color) !important;
}
.log_out{
    gap: 23px ;
}
.active{
    background-color: var(--primary-color) !important;
}