.image{
    width: 200px;
    height: 200px;
}
.card{
    box-shadow: 8px 8px 4px 0px #00000040;
}
.cards{
    grid-template-columns: repeat(4,minmax(80px,208px)) !important;
    gap: 40px;
}
.title{
    margin: 52.5px 0 32px !important;
}
.hover_content{
    transition: all 0.3s !important;    
}
.card:hover .hover_content {
    opacity: 1 !important;
    background-color: #F2EAE1B2;
}
.delete{
    width: 81px;
    height: 34px;
    background-color: #FE0000 !important;
}
.delete:hover{
    background-color: #be0404 !important;
}
.popup{
    border-radius: 2px !important;
    box-shadow: 2px 5px 10px 0px #0000001A;
}.popup > div{
    max-width: 948px !important;
}
.popup > div > div{
    border-radius: 20px !important;
    box-shadow: 2px 5px 10px 0px #0000001A;
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 80px 160px !important;
    width: 100% !important;
}
.title_pop{
    font-size: 22px !important;
    margin-bottom: 80px !important;
}
.btn{
    width: 199px !important;
    height: 61px !important;
}
@media screen and (max-width:992px) {
    .cards{
        grid-template-columns: repeat(3,minmax(70px,100px)) !important;
        gap: 15px;
    }
}