.products input{
    max-width: 664px !important;
    background-image: url("/task-5-adv/assets/images/search.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 12px) 12px;
    padding: 11px !important;
}
.add {
    column-gap:34.13px !important;
    grid-template-columns: repeat(2,minmax(200px,415px));
    margin-top: 188px !important;
}
.add input{
    margin-bottom: 64px !important;
}
.add input:last-of-type{
    margin-bottom: 0 !important;
}
.add .box{
    margin-top: -112px !important;
}
.label{
    font-size: 32px;
    color: var(--sec-color);
}
.mb_label{
    margin-bottom: 14px !important;
}
.imageBox{
    height: 209px ;
}
.imageBox img{
    width: 120px !important;
}
.imageBox:hover{
    cursor: pointer;
}
.btn{
    margin-top: 120px !important;
    width: 199px !important;
    height: 61px !important;
}
.image{
    width: 208px !important;
}
input::placeholder {
    color: #CDCDCD !important;
}